:root {
  --color-block: #5b5729;
  --color-ui: #3e4d31;
  --color-text-b: #262626;
  --color-text-w: #fff;
  --color-text-w-hover: rgb(205, 200, 200);

  --gap: 30px;

  --main-container: 1270px;
  --offset: 15px;
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.input-reset {
  -webkit-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;
  background-color: #fff;

  &::-webkit-search-decoration,
  &::-webkit-search-cancel-button,
  &::-webkit-search-results-button,
  &::-webkit-search-results-decoration {
    display: none;
  }
}
