.guarantee {
    max-width: 70%;
    margin-bottom: 100px;
  &_title {
  }

  &_subtitle {
  }

  &_lists {
    margin-left: 40px;
    list-style-type: disc;
  }

  &_list {
    margin-bottom: 20px;
  }
  &_sublist {
    display: block;
    margin-bottom: 20px;
  }
}
