.rating {
  &_button {
    height: max-content;
    padding: 0;
    &.on {
      color: #ff9933;
    }
    &.off {
      color: #ccc;
    }
  }

  &_star {
    font-size: 25px;
  }
  &_error {
    position: absolute;
    color: #ff0000;
    font-size: 12px;
  }
}
