.prod {
  padding: 15px 25px;
  &_top {
    max-height: 96px;
    display: flex;
    align-items: start;
  }
  &_img {
    display: block;
    max-height: 96px;
    padding: 0;
    margin-right: 15px;
  }
  &_title {
    padding-top: 10px;
    color: #000;
    margin: 0;
    transition: color 0.3s;
    &:hover {
      color: red;
    }
  }
  &_btn {
    margin-top: 10px;
    margin-left: auto;
    border: 0;
    outline: 0;
    max-width: 20px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    background: transparent;
    transition: background 0.3s;
    &:hover .prod_point {
      background: red;
    }
  }
  &_point {
    width: 6px;
    height: 6px;
    background-color: #5b5ebb;
    border-radius: 50%;
    margin-bottom: 2px;
  }
  &_bottom {
    display: flex;
    justify-content: flex-end;
  }
  &_added {
    display: flex;
  }

  &_minus {
    cursor: pointer;
    border: 0;
    outline: 0;
    background: transparent;
    position: relative;
    width: 30px;
    padding: 0;
    margin-right: 10px;
    &:disabled {
      cursor: auto;
    }
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 20%;
      width: 60%;
      height: 2px;
      background: #3e77aa;
      border-radius: 2px;
    }
    &:disabled::after {
      background: #808080;
    }
  }
  &_plus {
    margin-left: 10px;
    cursor: pointer;
    border: 0;
    outline: 0;
    background: transparent;
    position: relative;
    width: 30px;
    padding: 0;
    &:disabled {
      cursor: auto;
    }
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 20%;
      width: 60%;
      height: 2px;
      border-radius: 2px;
      background: #3e77aa;
    }
    &:disabled::after {
      background: #808080;
    }
    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 20%;
      width: 60%;
      height: 2px;
      border-radius: 2px;
      background: #3e77aa;
      transform: rotate(90deg);
    }
    &:disabled::before {
      background: #808080;
    }
  }

  &_box {
    height: 100%;
    width: 40px;
    border-radius: 5px;
    border: 1px solid #a6a5a5;
    padding: 0 10px;
    text-align: center;
    line-height: 2.4;
    font-weight: 600;
  }

  &_prices {
    width: 28%;
  }

  &_discount {
    text-align: end;
    text-decoration: line-through;
    font-size: 12px;
    color: #a6a5a5;
  }

  &_price {
    text-align: end;
    font-size: 20px;
    color: red;
  }
}
