@import "../../assets/styles/layout.scss";

.novaPoshta {
  position: relative;
  &-label {
    display: block;
    margin-bottom: 6px;
    margin-top: 10px;
  }
  &-input {
    width: 70%;
    border: 1px solid #969696;
    background: transparent;
    outline: 0;
    height: 40px;
    border-radius: 8px;
    padding: 0 12px;
    margin-bottom: 5px;
    &:disabled {
      background: #d0cccc;
    }
  }
  &-lists {
    transform: scale(0);
    position: absolute;
    top: calc(0 - 1);
    left: 0;
    width: 70%;
    max-height: 220px;
    border-radius: 8px;
    overflow-y: auto;
    background: #fff;
    cursor: pointer;
    &.active {
      transform: scale(1);
      border: 1px solid #969696;

    }
  }
  &-list {
    font-size: 12px;
    padding: 16px 10px;
    transition: background 0.3s;
    @include hover {
      background: #f1eded;
    }
  }
  &_error {
    color: #ff0000;
    margin: 0;
    font-size: 12px;
    position: absolute;
  }
}
