.reviews {
  &_form {
    width: 50%;
  }
  &_label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    cursor: pointer;
  }
  &_error {
    position: absolute;
    color: #ff0000;
    font-size: 12px;
  }
  &_area {
    width: 100%;

    outline: 0;
    border-radius: 8px;
    padding: 12px 16px;
  }
  &_box {
    display: flex;
    align-items: flex-end;
  }
  &_form .button {
    margin: 20px 0;
    margin-left: calc(100% - 130px);
  }
}
